@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html, body {
  padding: 0px !important;
}


.custom-input::placeholder {
  color: #c7c7c7;
  font-size: 12px;
}

.theme-blueBg{
  background-color: #0f0f2d;
}
.theme-blue{
  color: #0f0f2d;
}